<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento Realizado com Sucesso</title>
</head>
<body>
    <h1>Pagamento Realizado com Sucesso</h1>
    <p>Seu pagamento foi processado com sucesso.</p>
</body>
</html>
